[submodule "Vendor/gcem"]
	path = Vendor/gcem
	url = https://github.com/FelixCpp/gcem.git
[submodule "Vendor/googletest"]
	path = Vendor/googletest
	url = https://github.com/FelixCpp/googletest.git
[submodule "Vendor/glfw"]
	path = Vendor/glfw
	url = https://github.com/FelixCpp/glfw.git
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/FelixCpp/spdlog.git
